@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
body{
    font-family: 'Epilogue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
.snap{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
h2{
    font-weight: 700;
}
.hero-pic{
    /* background-image: url("images/image-hero-mobile.png");
    background-repeat: ; */
    width: 100vw;
    margin: 0 0 0 0;

}
.img{
    width: 100vw;
}
.top{
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    margin-left: 5%;
    margin-right: 5%;
    
}
p{
    padding-top: -20%;
    align-self: flex-start;
    font-size: 18px;
    color: rgb(143, 126, 126)
}
.logo {
   display: flex;
   justify-content: space-between;
}
.logo > svg{
   /* width: 25%; */
}
.btn{
    color: white;
    background-color: black;
    height: 40px;
    width: 90px;
    font-family: 'Epilogue';
    border: none;
    border-radius: 4px;
}
